.background {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  min-width: 250px;
  width: 360px;
}

.auth-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 96px;
  justify-content: center;
  align-items: center;
}

.inputs-container, .input-container {
  width: 100%;
}

.text-input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 16px;
  outline: none;
  color: black;
}

.text-input::placeholder {
  color: gray;
}

.submit-button {
  width: 100%;
  padding: 14px;
  margin-top: 16px;
  position: relative;
  left: 20px;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  background-color: var(--button-color);
  color: white;
  outline: none;
}

.submit-button:hover {
  width: 100%;
  background-color: var(--button-hover-color);
}
